{% extends 'base.html' %}

{% block content %}
    {% if debug %}
PUBLIC CHAT
{% endif %}
<span class="{% if not debug %}d-none{% endif %} page-number" id="id_page_number">1</span>
<br>
<br>




<main class="content">

    <div class="container p-0">
            <!-- Django messages -->
            {% if messages %}
                {% for message in messages %}
                    <div class="container-fluid p-0">
                      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="True">&times;</span>
                        </button>
                        {{ message }}
                      </div>
                    </div>
                {% endfor %}
            {% endif %}

		<div class="card">
			<div class="row g-0">
				<div class="col-12 col-lg-5 col-xl-3 border-right">

					<div class="px-4 d-none d-md-block">
						<div class="d-flex align-items-center">
							<div class="flex-grow-1">
								<input type="text" class="form-control my-3" placeholder="Search group or users...">
							</div>
						</div>
                        <div>
                            <a href="{% url 'create_group' %}"><button class="btn btn-secondary">Create Group +</button></a>
                        </div>
					</div>
                    <div class="user-messsages p-4" id="id_user_log">
                        {% for private in m_and_f %}
                            <a href="#" class="list-group-item list-group-item-action border-0" onclick="onSelectChat('{{private.room.id}}',null, '{{ private.friend.profile_image.url }}', '{{ private.friend.username }}')" id="id_friend_container_{{private.room.id}}">
{#                                <div class="badge bg-success float-right">5</div>#}
                                <div class="d-flex align-items-start">
                                    <img src="{{ private.friend.profile_image.url }}" class="rounded-circle mr-1" alt="Vanessa Tucker" width="40" height="40">
                                    <div class="flex-grow-1 ml-3">
                                        {{ private.friend.username }}
{#                                        <div class="small"><span class="fas fa-circle chat-online"></span> Online</div>#}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                        {% for x in groups %}
                            <a href="#" class="list-group-item list-group-item-action border-0" onclick="onSelectChat(null,'{{x.group.id}}', '{{ x.group.room_image.url }}', '{{ x.group.chat_username }}')" id="id_group_container_{{x.group.id}}">
    {#                            <div class="badge bg-success float-right">5</div>#}
                                <div class="d-flex align-items-start">
                                    <img src="{{ x.group.room_image.url }}" class="rounded-circle mr-1" alt="Vanessa Tucker" width="40" height="40">
                                    <div class="flex-grow-1 ml-3">
                                        {{ x.group.chat_username }}
        {#                                <div class="small"><span class="fas fa-circle chat-online"></span> Online</div>#}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>


					<hr class="d-block d-lg-none mt-1 mb-0">
				</div>
				<div class="col-12 col-lg-7 col-xl-9">
					<div class="py-2 px-4 border-bottom d-none d-lg-block">
						<div class="d-flex align-items-center py-1">
							<div class="position-relative">
                                <a href="" id="current-chat-user"><img src="" class="rounded-circle mr-1" alt="Sharon Lessman" width="60" height="60" id="current-chat-image"></a>
							</div>
							<div class="flex-grow-1 pl-3">
								<strong id="current-chat-title"></strong>
							</div>
                            <div class="btn-group dropright">
                              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                More
                              </button>
                              <div class="dropdown-menu" id="dropdown-bottom" x-placement="right-start" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                              </div>

                            </div>
						</div>
					</div>

					<div class="position-relative">
						<div class="chat-messages p-4" id="id_chat_log">

						</div>
					</div>

					<div class="flex-grow-0 py-3 px-4 border-top">
						<div class="input-group">
							<input type="text" class="form-control" id="id_chat_message_input" placeholder="Type your message">
							<button class="btn btn-primary" id="id_chat_message_submit">Send</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</main>


<style type="text/css">
    .dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}
.popup {
    position:fixed;
    top:0px;
    left:0px;
	bottom:0px;
	right:0px;
    margin:auto;
    width:450px;
    height:350px;
    font-family:verdana;
    font-size:13px;
    padding:10px;
    background-color:#282d32;
    border:2px solid grey;
    z-index:100000000000000000;
}

.cancel {
    display:relative;
    cursor:pointer;
    margin:0;
    float:right;
    height:20px;
    width:20px;
    background-color:red;
    text-align:center;
    font-weight:bold;
    font-size:15px;
    color:white;
    border-radius:3px;
    z-index:100000000000000000;
}

body{margin-top:20px;}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-height: 500px;
    overflow-y: scroll
}

.user-messsages {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-height: 500px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6 !important;
}
.a:hover {
  cursor:pointer;
 }
 .mb-1:hover {
     cursor: pointer;
 }
 .mr-1:hover {
     cursor: pointer;
 }
.popup {
    position:fixed;
    top:0px;
    left:0px;
	bottom:0px;
	right:0px;
    margin:auto;
    width:450px;
    height:350px;
    font-family:verdana;
    font-size:13px;
    padding:10px;
    background-color:#282d32;
    border:2px solid grey;
    z-index:100000000000000000;
}

.cancel {
    display:relative;
    cursor:pointer;
    margin:0;
    float:right;
    height:20px;
    width:20px;
    background-color:red;
    text-align:center;
    font-weight:bold;
    font-size:15px;
    color:white;
    border-radius:3px;
    z-index:100000000000000000;
}
</style>


<script type="text/javascript">

	var chatSocket = null;
	var roomId = null;

	onStart()

	function onStart(){
        {% if main_user %}
            onSelectChat("{{main_user.room.id}}", null, "{{ main_user.friend.profile_image.url }}", "{{ main_user.friend.username }}")
        {% else %}
            {% if m_and_f %}
                onSelectChat("{{m_and_f.0.room.id}}", null, "{{ m_and_f.0.friend.profile_image.url }}", "{{ m_and_f.0.friend.username }}")
            {% endif %}
        {% endif %}
	}

	function onSelectChat(privateRoomId, groupId, image, name){
	    if(privateRoomId != null){
            console.log("onSelectFriend: " + privateRoomId)
            setupWebSocket(privateRoomId, true)
            document.getElementById("current-chat-user").href = "{% url 'account-info' username=-1 %}".replace('-1', name)
        }
	    else{
	        console.log("onSelectGroup: " + groupId)
            setupWebSocket(groupId, false)
            document.getElementById("current-chat-user").href = "#"
        }

	    document.getElementById("current-chat-image").src = image
        document.getElementById("current-chat-title").innerHTML = name

        clearHighlightedFriend()
		highlightChat(privateRoomId, groupId)
	}

	function closeWebSocket(){
		if(chatSocket != null){
			chatSocket.close()
			chatSocket = null
			clearChatLog()
			setPageNumber("1")
			disableChatLogScrollListener()
		}
	}

	function setupWebSocket(room_id, privateOrGroup){

		console.log("setupWebSocket: " + room_id)

		roomId = room_id

		// close previous socket if one is open
		closeWebSocket()

		// Correctly decide between ws:// and wss://
		var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";

		if(privateOrGroup===true){
            {% if debug_mode %}
            var ws_path = ws_scheme + '://' + window.location.host + "/private_chat/" + roomId + "/"; // development
            {% else %}
                var ws_path = ws_scheme + '://' + window.location.host + ":8001/private_chat/" + roomId + "/"; // production
            {% endif %}
        }
		else {
		    {% if debug_mode %}
            var ws_path = ws_scheme + '://' + window.location.host + "/public_chat/" + roomId + "/"; // development
            {% else %}
                var ws_path = ws_scheme + '://' + window.location.host + ":8001/public_chat/" + roomId + "/"; // production
            {% endif %}
        }


		// console.log("Connecting to " + ws_path);
		chatSocket = new WebSocket(ws_path);

		// Handle incoming messages
		chatSocket.onmessage = function(message) {
			// Decode the JSON
			// console.log("Got chat websocket message " + message.data);
			console.log("Got websocket message.");
			var data = JSON.parse(message.data);

			// display the progress bar?
			{#displayChatroomLoadingSpinner(data.display_progress_bar)#}

			// Handle errors (ClientError)
			if (data.error) {
				console.error(data.error + ": " + data.message)
				showClientErrorModal(data.message)
				return;
			}
			// Handle joining (Client perspective)
			if (data.join) {
				console.log("Joining room " + data.join);
				getUserInfo()
				getRoomChatMessages()
				enableChatLogScrollListener()
			}
			// Handle leaving (client perspective)
			if (data.leave) {
				// do nothing
				console.log("Leaving room " + data.leave);
			}


			// Handle getting a message
			if (data.msg_type == 0 || data.msg_type == 1 || data.msg_type == 2) {
				appendChatMessage(data, false, true)
			}

			// new payload of messages coming in from backend
			if(data.messages_payload){
				handleMessagesPayload(data.messages, data.new_page_number)
			}
		};

		chatSocket.addEventListener("open", function(e){
			console.log("ChatSocket OPEN")
			// join chat room
			if("{{request.user.is_authenticated}}"){
				chatSocket.send(JSON.stringify({
					"command": "join",
					"room": roomId
				}));
			}
		})

		chatSocket.onclose = function(e) {
			console.log('Chat socket closed.');
		};

		chatSocket.onOpen = function(e){
			console.log("ChatSocket onOpen", e)
		}

		chatSocket.onerror = function(e){
	        console.log('ChatSocket error', e)
	    }

	    if (chatSocket.readyState == WebSocket.OPEN) {
	    	console.log("ChatSocket OPEN")
	    } else if (chatSocket.readyState == WebSocket.CONNECTING){
	        console.log("ChatSocket connecting..")
	    }
	}

	document.getElementById('id_chat_message_input').focus();
	document.getElementById('id_chat_message_input').onkeyup = function(e) {
		if (e.keyCode === 13 && e.shiftKey) {  // enter + return
			// Handled automatically by textarea
		}
		else if(e.keyCode === 13 && !e.shiftKey){ // enter + !return
			document.getElementById('id_chat_message_submit').click();
		}
	};

    document.getElementById('id_chat_message_submit').onclick = function(e) {
		const messageInputDom = document.getElementById('id_chat_message_input');
		const message = messageInputDom.value;
		chatSocket.send(JSON.stringify({
			"command": "send",
			"message": message,
			"room": roomId
		}));
		messageInputDom.value = '';
	};

	/*
		Retrieve the user information of the user other in the chat.
		1. Profile image
		2. username
		3. etc...
	*/
	function getUserInfo(){
		chatSocket.send(JSON.stringify({
			"command": "get_user_info",
			"room_id": roomId,
		}));
	}

	function handleUserInfoPayload(user_info){
		document.getElementById("id_other_username").innerHTML = user_info['username']
		document.getElementById("id_other_user_profile_image").classList.remove("d-none")
		document.getElementById("id_user_info_container").href= "{% url 'account-info' username=53252623623632623 %}".replace("53252623623632623", user_info['username'])
	}

	function showClientErrorModal(message){
		document.getElementById("id_client_error_modal_body").innerHTML = message
		document.getElementById("id_trigger_client_error_modal").click()
	}

	function appendChatMessage(data, maintainPosition, isNewMessage){
		messageType = data['msg_type']
		msg_id = data['id']
		message = data['content']
        timestamp = data['timestamp']
        if(data.user) {
            uName = data['user']['username']
            user_id = data['user']['user_id']
            profile_image = data['user']['profile_image']
        }
        else{
            uName = data['username']
            user_id = data['user_id']
            profile_image = data['profile_image']
            }


		console.log("append chat message: " + messageType)

		var msg = "";
		var username = ""

		// determine what type of msg it is
		switch (messageType) {
			case 0:
				// new chatroom msg
				username = uName
				msg = message + '\n'
				createChatMessageElement(msg, username, profile_image, user_id, timestamp, maintainPosition, isNewMessage)
				break;
			case 1:
				// User joined room
				createConnectedDisconnectedElement(message, msg_id, profile_image)
				break;
			case 2:
				// User left room
				createConnectedDisconnectedElement(message, msg_id, profile_image)
				break;
			default:
				console.log("Unsupported message type!");
				return;
		}
	}

	/*
		Build a new ChatMessage element and append to the list
	*/
	function createChatMessageElement(msg, username, profile_image, user_id, timestamp, maintainPosition, isNewMessage){
		var chatLog = document.getElementById("id_chat_log")

		var newMessageDiv = document.createElement("div")

        var auth_user = "{{ username }}"
        console.log(auth_user)
        if(username===auth_user){
			newMessageDiv.classList.add("chat-message-right")
		}
		else{
            newMessageDiv.classList.add("chat-message-left")
		}

		newMessageDiv.classList.add("pb-4")

        var div2 = document.createElement("div")

		var profileImage = document.createElement("img")

		profileImage.classList.add("rounded-circle")
		profileImage.classList.add("mr-1")
		profileImage.width = 40
        profileImage.height = 40
		profileImage.src = profile_image
        profileImage.addEventListener("click", function(e){
			 openPopup(username, profile_image)
		})
        profileImage.alt = 'User'

        var div3 = document.createElement("div")
        div3.classList.add('text-muted')
        div3.classList.add('small')
        div3.classList.add('text-nowrap')
        div3.classList.add('mt-2')
        div3.innerHTML = timestamp

        div2.appendChild(profileImage)
        div2.appendChild(div3)

        newMessageDiv.appendChild(div2)

        var user_msg = document.createElement("div")
        user_msg.classList.add('flex-shrink-1')
        user_msg.classList.add('bg-light')
        user_msg.classList.add('rounded')
        user_msg.classList.add('py-2')
        user_msg.classList.add('px-3')
        user_msg.classList.add('mr-3')


        var user = document.createElement("div")
        user.classList.add('font-weight-bold')
        user.classList.add('mb-1')
        user.addEventListener("click", function(e){
			 openPopup(username, profile_image)
		})
        user.innerHTML = username
        var msg_p =document.createElement('p')
        msg_p.innerHTML = msg

        user_msg.appendChild(user)
        user_msg .appendChild(msg_p)


        newMessageDiv.appendChild(user_msg)

        if(!isNewMessage){
			chatLog.insertBefore(newMessageDiv, chatLog.firstChild)
		}
		else{
            chatLog.appendChild(newMessageDiv)
		}


        chatLog.scrollTop = chatLog.scrollHeight
	}

	function createConnectedDisconnectedElement(msg, msd_id, profile_image){
		var chatLog = document.getElementById("id_chat_log")

        var newMessageDiv = document.createElement("div")
        newMessageDiv.classList.add("chat-message-left")

		newMessageDiv.classList.add("pb-4")

        var div2 = document.createElement("div")

		var profileImage = document.createElement("img")

		profileImage.classList.add("rounded-circle")
		profileImage.classList.add("mr-1")
		profileImage.width = 40
        profileImage.height = 40
		profileImage.src = profile_image
        profileImage.alt = 'User'

        div2.appendChild(profileImage)

        newMessageDiv.appendChild(div2)

        var user_msg = document.createElement("div")
        user_msg.classList.add('flex-shrink-1')
        user_msg.classList.add('bg-light')
        user_msg.classList.add('rounded')
        user_msg.classList.add('py-2')
        user_msg.classList.add('px-3')
        user_msg.classList.add('mr-3')


        var msg_p =document.createElement('p')
        msg_p.innerHTML = msg

        user_msg .appendChild(msg_p)

        newMessageDiv.appendChild(user_msg)

		chatLog.appendChild(newMessageDiv)

 	}

 	function setPageNumber(pageNumber){
		document.getElementById("id_page_number").innerHTML = pageNumber
	}

	function clearChatLog(){
		document.getElementById("id_chat_log").innerHTML = ""
	}


	function setPaginationExhausted(){
		setPageNumber("-1")
	}

 	/*
		Retrieve the chat room messages given the page number.
	*/
	function getRoomChatMessages(){
		var pageNumber = document.getElementById("id_page_number").innerHTML
		if(pageNumber != "-1"){
			setPageNumber("-1") // loading in progress
			chatSocket.send(JSON.stringify({
				"command": "get_room_chat_messages",
				"room_id": roomId,
				"page_number": pageNumber,
			}));
		}
	}


	function handleMessagesPayload(messages, new_page_number){
		if(messages != null && messages != "undefined" && messages != "None"){
			setPageNumber(new_page_number)
			messages.forEach(function(message){
				appendChatMessage(message, true, false)
			})
		}
		else{
			setPaginationExhausted() // no more messages
		}
	}


	/*
		Get the next page of chat messages when scrolls to bottom
	*/
	function chatLogScrollListener(e) {
		var chatLog = document.getElementById("id_chat_log")
		if ((Math.abs(chatLog.scrollTop) + 2) >= (chatLog.scrollHeight - chatLog.offsetHeight)) {
			getRoomChatMessages()
		}
	}

	/*
		Enable the function "chatLogScrollListener"
	*/
	function enableChatLogScrollListener(){
		document.getElementById("id_chat_log").addEventListener("scroll", chatLogScrollListener);
	}

	/*
		Disable the function "chatLogScrollListener"
	*/
	function disableChatLogScrollListener(){
		document.getElementById("id_chat_log").removeEventListener("scroll", chatLogScrollListener)
	}


	function highlightChat(privateRoomId, groupId){
		// select new friend
        var dropDown = document.getElementById("dropdown-bottom")
        if(privateRoomId != null){
            document.getElementById("id_friend_container_" + privateRoomId).style.backgroundColor = "#282d32"


            var a1 = document.createElement("a")
            a1.classList.add('dropdown-item')
            a1.href="{% url 'clear-history' private_room_id=-1 %}".replace("-1",privateRoomId)
            a1.innerHTML = "Clear chat History"
            dropDown.appendChild(a1)

        }
		else{
		    document.getElementById("id_group_container_" + groupId).style.backgroundColor = "#282d32"

            var a1 = document.createElement("a")
            a1.classList.add('dropdown-item')
            a1.href="{% url 'show_invite_link' group_id='-1' %}".replace('-1', groupId)
            a1.innerHTML = "Show invite Link"
            dropDown.appendChild(a1)

            var a2 = document.createElement("a")
            a2.classList.add('dropdown-item')
            a2.href="{% url 'reset_invite_link' group_id='-1' %}".replace('-1', groupId)
            a2.innerHTML = "Reset Invite Link"
            dropDown.appendChild(a2)

            var a3 = document.createElement("a")
            a3.classList.add('dropdown-item')
            a3.href="{% url 'show_members' group_id='-1' %}".replace('-1', groupId)
            a3.innerHTML = "Show Members"
            dropDown.appendChild(a3)

            var a4 = document.createElement("a")
            a4.classList.add('dropdown-item')
            a4.href="{% url 'remove_or_exit_group' group_id='-1' %}".replace('-1', groupId)
            a4.innerHTML = "Exit/Remove group"
            dropDown.appendChild(a4)

        }
	}

	function clearHighlightedFriend(){
		{% if m_and_f %}
			{% for private in m_and_f %}
				document.getElementById("id_friend_container_{{private.room.id}}").style.backgroundColor = ""
			{% endfor %}
		{% endif %}
        {% if groups %}
			{% for group in groups %}
				document.getElementById("id_group_container_{{group.group.id}}").style.backgroundColor = ""
			{% endfor %}
		{% endif %}
        var drop = document.getElementById('dropdown-bottom')
        drop.innerHTML = ""


	}

    function openPopup(username, profile_image) {
        document.getElementById('test').style.display = 'block';
        document.getElementById('popup-p').innerHTML = username;
        document.getElementById("popup-img").src = profile_image;
        var url = "{% url 'account-info' username=53252623623632623 %}".replace("53252623623632623", username)
        document.getElementById("popup-profile").href = url;
    }

    function closePopup() {
        document.getElementById('test').style.display = 'none';
    }

</script>

<!--Pop up for clicking on user -->
<div id="test" class="popup" style="display:none;">
    <div class="cancel" onclick="closePopup();">X</div>
    <div class="container d-flex justify-content-center align-items-center">
        <img id="popup-img" src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle mr-1 popup-image" alt="William Harris" width="180" height="180">
    </div>
    <hr>
    <div class="container d-flex justify-content-center align-items-center">
        <p id="popup-p" style="color: whitesmoke;font-size: 20px">username</p>
    </div>

    <a id="popup-message" href=""><button class="btn btn-primary" style="float: left">Send Message</button></a>
    <a id="popup-profile" href=""><button class="btn btn-secondary" style="float: right">View Profile</button></a>
</div>



<!-- Client Error MODAL -->
<button type="button" id="id_trigger_client_error_modal" class="d-none btn btn-primary" data-toggle="modal" data-target="#id_client_error_modal">
</button>
<div class="modal fade" id="id_client_error_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Socket Client Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="id_client_error_modal_body">Something went wrong.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="id_client_error_modal_close_btn">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Client Error MODAL -->



{% endblock %}


