{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container">
<div class="row flex-lg-nowrap">

  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded" >
                        <img src="{{ account.profile_image.url }}" alt="" class="rounded-circle" width="120", height="120">
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{ account.full_name }}</h4>
                    <p class="mb-0">@{{ account.username }}</p>
                  </div>
                  <div class="text-center text-sm-right">
                    <span class="badge badge-secondary">administrator</span>
                    <div class="text-muted"><small>Joined 09 Dec 2017</small></div>
                  </div>
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
              </ul>
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  <form class="form" novalidate="" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Full Name</label>
                                {{ form.full_name }}
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label>Username</label>
                                {{ form.username }}
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col mb-3">
                            <div class="form-group">
                              <label>About</label>
                                {{ form.bio }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-6 mb-3">
                        <div class="mb-2"><b>Change Profile Picture</b></div>
                          <div class="row">
                               <div class="col">
                                   <div class="form-group">
                                       {{ form.profile_image }}
                                   </div>
                               </div>
                          </div>

                      </div>
                      <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                        <div class="row">
                          <div class="col">
                            <label>Preference</label>
                            <div class="custom-controls-stacked px-2">
                                  <p>{{ form.hide_email }} Hide email</p>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <button class="btn btn-primary" type="submit" name="full_form">Save Changes/ back to Account</button>
                      </div>
                    </div>
                  </form>
                     <h5>Add skills</h5>
                      <form action="" method="post">
                          {% csrf_token %}
                          <div class="form-group">
                              <label>Skill Title: </label>
                              <input type="text" name="title" placeholder="Skill Title">
                              <label>Skill Level: </label>
                              <input type="text" name="level" placeholder="Skill level 0-100">
                              <button class="btn btn-primary" type="submit" name="skill_form">Add Skill</button>
                          </div>
                      </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'account/account_edit.css' %}">

{% endblock %}